@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
}

p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.84)
}

.app {
  overflow: hidden;
}
